.sides {
  display: flex;
  z-index: 1;
}

header {
  background-color: white;
  position: sticky;
  z-index: 2;
  top: 0px;
}

nav {
  display: flex;
  align-items: center;
  min-height: 85px;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
}
.navLeft {
  display: flex;
  column-gap: 28px;
  align-items: center;

  img {
    cursor: pointer;
  }
}
.navSearch {
  width: 60%;
  margin-left: 59px;
  padding: 0px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebebeb;
  border-radius: 22px;
  input {
    border: none;
    outline: none;
    padding: 12px 8px;
    background-color: transparent;
    width: 100%;
  }
}
.navRight {
  display: flex;
  column-gap: 50px;
}
