* {
  color: inherit;
}

.active {
  color: rgba(255, 17, 17, 0.776) !important;
}
.dark {
  background-color: black;
  color: rgba(255, 255, 255, 0.932) !important;
}
.nav-dark {
  background-color: black;
  color: rgba(255, 255, 255, 0.932) !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home {
  width: 100%;
}
